@import url("https://use.typekit.net/hdu5mmj.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "muli", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

.dark body {
  background-color: #222732;
  color: #fff;
}
